
#nome{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid 1px #EECCBB;
}

.preto{
    background-color: #000000;
    color: #FFFFFF;
}

.verde{
    background-color: #00FF00;
    color: #000000;
}

.vermelho{
    background-color: #FF0000;
}

.azul{
    background-color: #0000FF;
}