
#nome{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid 1px #EECCBB;
}

.preto{
    background-color: #000000;
    color: #FFFFFF;
}

.verde{
    background-color: #00FF00;
    color: #000000;
}

.vermelho{
    background-color: #FF0000;
}

.azul{
    background-color: #0000FF;
}

.animal{
    width: 400px;
    height: 400px;
}

.scrollButton{

    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #FF0000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}

